*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

body,html{
    width: 100%;
    height: 100%;
}

/* 導航列 */

#nav-ul{
    height: 150px;
    /* text-align: center; */
    background:linear-gradient(rgb(214, 73, 73),rgb(164, 227, 164)) ;
}

#nav-ul img{
    width: 20px;

}

#nav-ul{
    display: flex;
    flex-direction: column;
    
}

#nav-ul li img {
    margin-right: -1.8em;
    transform: scale(0);
}

#nav-ul li {
    padding: 0 100px;
    font-size: 1em;
    color: #fff;
}

#nav-ul li:hover {
    /* padding-right: 0; */
    font-size: 1em;
    color: yellow;
    transform: scale(1.5);
    transition: .3s;
}


#nav-ul li:hover img {
    margin-right: 0em;
    transform: scale(1);
}

