/* 大標起始顏色 rgb(33, 33, 216); 交替 rgb(186, 23, 23);  */
/* 小標起始顏色 rgb(250, 124, 124); 交替 rgb(111, 111, 248); */



*{
    padding: 0;
    margin: 0;
    /* font-size: 0; */
}

/* 會員 */

#mumberLogin {
    /* font-size: 1em; */
    text-align: center;
    display: block;
    width: 6em;
    background: rgb(33, 33, 216);
    color: white;
    font-size: 1.01em;
}

#mumberLogin:hover {
    color: yellow;
}

#mumberLogin~a.added-element {
    text-align: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;
    width: 6em;

}

#mumberLogin~a.added-element:hover {
    color: yellow;
}


#mumberLogin~a.added-element:nth-child(even) {
    background: rgb(250, 124, 124);

}


#mumberLogin~a.added-element:nth-child(odd) {
    background: rgb(111, 111, 248);
}
/* 成為房東 */

#BecomeALandlord {
    /* font-size: 1em; */
    text-align: center;
    display: block;
    width: 6em;
    background: rgb(186, 23, 23);
    color: white;
    font-size: 1.01em;
}

#BecomeALandlord:hover {
    color: yellow;
}

#BecomeALandlord~a.added-element {
    text-align: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;
    width: 6em;

}

#BecomeALandlord~a.added-element:hover {
    color: yellow;
}


#BecomeALandlord~a.added-element:nth-child(even) {
    background: rgb(250, 124, 124);

}


#mumberLogin~a.added-element:nth-child(odd) {
    background: rgb(111, 111, 248);
}

/* 租賃服務 */

#rentalServices {
    /* font-size: 1em; */
    text-align: center;
    display: block;
    width: 6em;
    background: rgb(33, 33, 216);
    color: white;
    font-size: 1.01em;
}

#rentalServices:hover {
    color: yellow;
}

#rentalServices~a.added-element {
    text-align: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;
    width: 6em;

}

#rentalServices~a.added-element:hover {
    color: yellow;
}


#rentalServices~a.added-element:nth-child(even) {
    background: rgb(250, 124, 124);

}


#mumberLogin~a.added-element:nth-child(odd) {
    background: rgb(111, 111, 248);
}
